
@media (min-width: 768px) {
	body {
	 width: 80%;
	}
    h3 {
        font-size: 2rem;
    }
    #projects-container {
		gap: 2rem;
	}
	.project-item {
		flex-basis: 24rem;
	}
    #profile {
        margin-bottom: 4rem;
		flex-direction: row;
		justify-content: space-between;
		
    }

	#profile-image {
		min-width: 15rem;
        margin-right: 1.5rem;
	}
	section>p {
		font-size: 1.5rem;
	}
	#contact {
		height: 50rem;
	}
	#to-top button {
		padding: 1rem;
		background-color: aquamarine;
		border-radius: 100%;
		margin: 2rem;
		position: fixed;
		right: 2rem;;
		bottom: 7rem;
	}
}