

#projects-container {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	justify-content: center;
}

.project-item {
	background-color: #f8f8f8;
	display: flex; /* to give project items access to flex properties */
	flex-direction: column;
	padding: 1rem;
}
.project-image {
	height: 13rem;
	overflow: hidden;
}

.project-image img {
	width: 100%;
}
code {
	color: slategray;
}
